<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ximea Camera Preview</title>

    <!-- Link to Bootstrap CSS and JS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>

    <script src="static/script.js"></script>

    <style></style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container">
        <span class="navbar-brand">Ximea Camera Preview</span>
      </div>
    </nav>

    <div class="container text-center" style="margin-top: 30px">
      <!-- <div class="row"> -->

      <div class="row px-2 mb-4">
        <div class="mb-2 mx-auto ratio ratio-1x1 border border-warning">
          <!-- <video id="cameraFeed" src="" controls></video> -->
          <img id="image_feed" src="static/preview.jpg" width="100%" />
          <!-- <img id="latest-image" src="" alt="Latest image"> -->
          <!-- <img id="webcamImage" src="" alt="Latest Webcam Image" /> -->
        </div>
        <div class="mb-3">
          <button class="btn btn-md btn-warning" id="stopBtn" onclick="save()">Save</button>
        </div>
      </div>

      <div class="row">
        <div class="mb-4 mx-auto">
          <div class="btn-group" role="group2" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio2" id="btnradio22" autocomplete="off" checked />
            <label class="btn btn-outline-primary" for="btnradio22">Preview Only</label>

            <input type="radio" class="btn-check" name="btnradio2" id="btnradio21" autocomplete="off" />
            <label class="btn btn-outline-primary" for="btnradio21">Save to Disk</label>
          </div>
        </div>

        <div class="mb-4 mx-auto">
          <div class="btn-group" role="group2" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio3" id="btnradio31" autocomplete="off" checked />
            <label class="btn btn-outline-primary" for="btnradio31">Cont. Trigger</label>

            <input type="radio" class="btn-check" name="btnradio3" id="btnradio32" autocomplete="off" />
            <label class="btn btn-outline-primary" for="btnradio32">Hardware Trigger</label>
          </div>
        </div>

        <div class="mb-5 pb-5 mx-auto">
          <button class="btn btn-md btn-success" id="startBtn" onclick="start_capture()">Start Capture</button>
          <button class="btn btn-md btn-danger" id="stopBtn" onclick="stop_capture()">Stop Capture</button>
        </div>
      </div>
    </div>

    <footer class="footer mt-auto py-3 bg-dark fixed-bottom">
      <div class="container">
        <span id="status-msg" class="text-light">Ready.</span>
      </div>
    </footer>
  </body>
</html>
